---
import Layout from '../../layouts/Layout.astro';
---


<Layout title="Valheim Food" name="Food">
  <h2>Coming soon</h2>
  <p>Would you like to help? Contact @jarrettv on <a href="https://discord.gg/cQ3g6Vc4">Valheim discord</a></p>
</Layout>