
.gear {
  text-align: center;
  width: 96px;
  min-width: 96px;
  line-height: 1.4rem;
  margin: 0.3rem;
  padding: 0.3rem 0.5rem;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 0.3s;
  overflow-x: hidden;
}

.gear:hover {
  border: 2px solid rgb(22, 68, 127);
  background-color: #2a313e;
}