.spinner {
  visibility: hidden;
}
.spinner.loading {
  visibility: visible;
}
.spinner>svg {
  margin-top: 2rem;
  animation: spin 1s infinite linear;
  color: gold;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}