.leaderboard {
  width:100%;
  border-collapse: collapse;
  background-color: #0002;
}
.leaderboard tr:nth-child(odd) {
  background-color: #0004;
}

.leaderboard .hunter {
  padding-left: 0.8rem;
  font-weight: bold;
}

.leaderboard .score {
  color: gold;
  font-weight: bold;
  font-size: 1.6rem;
  padding-right: 0.8rem;
}

.leaderboard .items {
  display:flex;
}

.leaderboard .trophy-node {
 width: 2.6rem; height: 2.6rem;
text-align: center;
 background-size: contain;
}
.leaderboard .trophy-node>div {
  max-height: 1rem;
  line-height: 1rem;
  font-size: smaller;
  margin-top: 1.65rem;
  background-color: #0005;
}

.leaderboard .trophy-node.penalty {
  color:red;
}