---
import Layout from "../../layouts/Layout.astro";
import Test from "../../components/Test";

// const trophies = (await getCollection("trophy")).map((trophy) => trophy.data);
// const groups = ['Meadows', 'Black Forest', 'Swamp', 'Mountain', 'Plains', 'Mistlands', 'Ashlands', 'Ocean/Penalty'];
---

<Layout title="Valheim Trophy Hunt Tracker" name="Trophy Hunt Tracker">
  <div style="margin:2rem; max-width:600px">
  <h2>Coming soon</h2>
  <p>Check back before the first trophy hunt begins</p>
  <Test client:only="react"/></div>
</Layout>

<script>
  
</script>

<style>
</style>
