.gear-details {
  max-width: 520px;
  flex:1;
}
.gear-details h2 {
  margin: 0.5rem 0;
  font-size: 1.9rem;
  font-weight: normal;
}


.gear-details button {
  float:right;
  font-size:larger;
  padding: 0.3rem 0.5rem;
}

.gear-details .bubble {
  display: inline-block;
  padding: 0 0.4rem 0.1rem 0.4rem;
  min-width:34px;
  height: 1.5rem;
  border-radius: .75rem;
  margin: 0 -0.1rem;
  color: #303022;
  background-color: rgb(172, 172, 172);
  filter: saturate(0.8);
  position: relative;
}

.gear-details .bubble.penalty {
  background-color: rgb(255, 58, 58);
}
.gear-details .bubble.attk {
  background-color: rgb(255, 215, 85);
}
.gear-details .bubble.frost {
  background-color: rgb(103, 194, 255);
}
.gear-details .bubble.fire {
  background-color: rgb(255, 156, 85);
}
.gear-details .bubble.spirit {
  background-color: rgb(149, 255, 209);
}
.gear-details .bubble.lightning {
  background-color: rgb(255, 255, 172);
}
.gear-details .bubble.poison {
  background-color: rgb(40, 255, 90);
}
.gear-details .bubble.sec {
  filter: saturate(1.5);
}
.gear-details .bubble.mat {
  background-color: rgb(233, 233, 233);
  z-index: 100;
}
.gear-details .bubble.none {
  filter: saturate(0.2) brightness(0.4);
  z-index: 99;
}
.gear-details .bubble.block {
  background-color: rgb(191, 112, 255);
}

.gear-details table { width: 100%}
.gear-details td:first-child { text-align: right; width:26%}
.gear-details table h2 { margin: 0; font-size: 1.9rem }
.gear-details table h5 { margin: 0; font-size: 1.1rem; opacity: 0.8; font-weight: normal; }