
 @media (max-width: 780px) {
  .trophy-calc header h1 {
    display: none;
  }
}
.trophy-calc header .score {
  display:flex;
  margin: 0 2rem 0.3rem 0;
  font-size: 1.6rem;
  font-weight: normal;
  align-items: center;
 }
 @media (max-width: 440px) {
  .trophy-calc header .score-label {
    display: none;
  }
}

.trophy-calc header .score-value {
  color:gold;
  font-size: 3rem;
  font-weight: bold;
  margin:0 1rem;
}

.trophy-calc section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
